<h1 class="mt-4">Inventor Data Sensetive</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Consulta de dados sensíveis em sites</li>
</ol>
<div class="container">
  <form #consultaForm="ngForm" (submit)="consultar()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Dominio</mat-label>
            <mat-select [(value)]="dominioSelecionadoId">
              <mat-option value="">Selecione ...</mat-option>
              <mat-option *ngFor="let dominio of dominios" [value]="dominio.id">
                {{ dominio.dominio }} <strong>{{ dominio.dataCriacao | date: 'dd/MM/yyyy HH:mm:ss' }}</strong>
                <span class="badge badge-info"> Páginas Visitadas: {{ dominio.qtd_pag_visitadas }}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <button type="submit" class="btn btn-primary mt-3">
          <i class="fa fa-search"></i> Consultar
        </button>
      </div>
    </div>
  </form>
  <div class="row mt-3">
    <div class="alert alert-warning" role="alert" *ngIf="message">
      {{ message }}
    </div>
    <div class="col-md-12" *ngIf="dadosSensiveis.length > 0">
      <div *ngFor="let pathLocation of groupedData">
        <div class="card">
          <div class="card-header" (click)="toggleCollapse(pathLocation.id)">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button">
                {{ pathLocation.path }}
              </button>
              <a href="{{pathLocation.path}}" target="_blank">
                <i class="fas fa-external-link-alt"></i>
              </a>
              <p>Quantidade de dados sensíveis: {{ pathLocation.sensitiveData.length }}</p>
            </h5>
          </div>
          <div [id]="'collapse' + pathLocation.id" class="collapse">
            <div class="card-body">
              <p>Tipo de Arquivo: {{ pathLocation.tipoDeArquivo || 'N/A' }}</p>
              <p>Processamento: {{ pathLocation.processamento || 'N/A' }}</p>
              <p>PDF encontrado no link:
                <a href="{{pathLocation.pathParent || 'N/A'}}" target="_blank">
                  {{pathLocation.pathParent}}
                </a>
              </p>
              <table class="table mt-3">
                <thead>
                  <tr>
                    <th>Dominio/Site</th>
                    <th>Dado Sensível</th>
                    <th>Tipo dado Sensível</th>
                    <th>Data da Busca</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let s of pathLocation.sensitiveData">
                    <td>{{ s.dominio.dominio }}</td>
                    <td>{{ s.sensitive }}</td>
                    <td>{{ s.tipo }}</td>
                    <td>{{ s.dataCriacao | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="page === 0">
            <a class="page-link" href="#" (click)="onPageChange($event, page - 1)">Anterior</a>
          </li>
          <li class="page-item" [class.disabled]="page >= (totalElements / size) - 1">
            <a class="page-link" href="#" (click)="onPageChange($event, page + 1)">Próximo</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="alert alert-info" role="alert" *ngIf="dadosSensiveis.length === 0 && !message">
      Não há dados sensíveis para exibir.
    </div>
  </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
